             /* there is 3 type to color background  */


                /* first one by color name   */
.aa {
   
    background-color:aqua;
    /* color name  */
   
}

                /* second one  by rgb or rgba  */
.a {
   
    background-color: rgb(255,0,0);
    /* rgb=>red,green,blue it start from 0 to 255  */
   
}
.b {
   
    background-color: rgb(0,255,0);
    /* rgb=>red,green,blue it start from 0 to 255 */
   
}
.c {
   
    background-color: rgb(0,0,255);
    /* rgb=>red,green,blue it start from 0 to 255 */
   
}
.d {
   
    background-color: rgb(0,0,0);
    /* rgb=>red,green,blue it start from 0 to 255 */
   
}
.e {
   
    background-color: rgb(255,255,255);
    /* rgb=>red,green,blue it start from 0 to 255 */
   
}
.f {
   
    background-color: rgba(255, 0, 0, 50%);
    /* rgba=>red,green,blue it start from 0 to 255 , and the (a)
    is mean alpha channal it responsible about Color transparency
    and it have range from (0.0 to 1.0) or (0% to 100%)*/
   
}
.g {
 
    background-color: rgb(0,255,0,50%);
    /* rgba=>red,green,blue it start from 0 to 255 , and the (a)
    is mean alpha channal it responsible about Color transparency
    and it have range from (0.0 to 1.0) or (0% to 100%) */
   
}
.h {
   
    background-color: rgb(0,0,255,50%);
    /*
    rgba=>red,green,blue it start from 0 to 255 , and the (a)
    is mean alpha channal it responsible about Color transparency
    and it have range from (0.0 to 1.0) or (0% to 100%) 
     */
   
}

.i {
   
    background-color: rgb(0,0,0,0.5);
    /*
    rgba=>red,green,blue it start from 0 to 255 , and the (a)
    is mean alpha channal it responsible about Color transparency
    and it have range from (0.0 to 1.0) or (0% to 100%) 
     */
   
}

                /* third one hexadecimal color code  */
                /* it start with # symbol each of the tow digit color codes 
                are in the range from 00.....ff  */
.j {
   background-color:#ff0000 ;
  /* */
                   
 }
 .k {
    background-color:#00ff00 ;
   /* */
                    
  }
  .l {
    background-color:#0000ff ;
   /* */
                    
  }
  .m {
    background-color:#ffffff ;
   /* */
                    
  }
  .n {
    background-color:#000000 ;
   /* */
                    
  }
.o{
 background-color: #ff000034;
 /* last two digit is alpha channal it responsible about Color transparency */
}

                         /* image & repeat */

.image1{
    background-image:url("../tamato.png") ;
    background-repeat:repeat;
   
}
.image2{
    background-image:url("../tamato.png") ;
    background-repeat:no-repeat;
   
}
.image3{
    background-image:url("../tamato.png") ;
    background-repeat:repeat-x;
   
}
.image4{
    background-image:url("../tamato.png") ;
    background-repeat:repeat-y;
   
}
